<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    

    <div class="main-div">
        <%- include("../partials/adminNavbar") %>
        <div class="hello">
            <%- include('../partials/adminSidebar') %>
        </div>
        <div class="containerUser">
            <form method="GET" action="/admin/users">
                <div class="header">
                    <h1>Users</h1>
                    <input type="text" name="search" class="search-input" placeholder="Search users" value="<%= search %>">
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>

            <table class="user-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Join Date</th>
                        <th>Ban/Unban</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <tr>
                 
                            <td><%= (currentPage - 1) * itemsPerPage + i + 1 %></td> 
                            <td><%= data[i].name %></td>
                            <td><%= data[i].email %></td>
                            <td><%= new Date(data[i].createdAt).toDateString() %></td>
                            <td>
                                <% if (data[i].isBlocked === false) { %>
                                    <button style="width: 70px;" class="delete-button button" onclick="blockUser('<%= data[i]._id %>')">Ban</button>
                                <% } else { %>
                                    <button style="border-color: #2ac100; color:#2ac100 ;" class="delete-button button" onclick="unblockUser('<%= data[i]._id %>')">Unban</button>
                                <% } %>
                            </td>
                            <td>
                                <button class="view-button">
                                    <a href="/admin/viewUser?id=<%= data[i]._id %>" style="text-decoration: none;color: #ffa500; width: 70px;">View</a>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
                
             
                
            </table>

            <div class="pagination">
                <ul>
                    <% for(let i=1; i<=totalpage; i++){ %>
                        <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        
        async function blockUser(userId) {
 
    const confirm = await Swal.fire({
        title: 'Are you sure?',
        text: "Do you want to block this user?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, block it!',
        cancelButtonText: 'Cancel'
    });

    
    if (confirm.isConfirmed) {
        const response = await fetch(`/admin/blockUser?id=${userId}`, { method: 'GET' });
        const result = await response.json();
        if (result.success) {
            Swal.fire({
                icon: "success",
                title: "Success",
                text: result.message
            });
            setTimeout(() => {
                location.reload(); 
            }, 1000);
        } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: "Failed to block the user."
            });
        }
    } else {
       
        Swal.fire({
            title: 'Action cancelled',
            text: 'The user has not been blocked.',
            icon: 'info'
        });
    }
}

async function unblockUser(userId) {
    
    const confirm = await Swal.fire({
        title: 'Are you sure?',
        text: "Do you want to unblock this user?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, unblock it!',
        cancelButtonText: 'Cancel'
    });

    if (confirm.isConfirmed) {
        const response = await fetch(`/admin/unblockUser?id=${userId}`, { method: 'GET' });
        const result = await response.json();
        if (result.success) {
            Swal.fire({
                icon: "success",
                title: "Success",
                text: result.message
            });
            setTimeout(() => {
                location.reload();
            }, 1000);
        } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: "Failed to unblock the user."
            });
        }
    } else {
      
        Swal.fire({
            title: 'Action cancelled',
            text: 'The user has not been unblocked.',
            icon: 'info'
        });
    }
}


    </script>
</body>

</html>
 