<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--=============== FLATICON ===============-->
  <link rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css" />

  <!--=============== SWIPER CSS ===============-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/css/tiny-slider.css">
  <link rel="stylesheet" href="/css/stylethree.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Ecommerce Website</title>
</head>

<body style="background-color: #EFF2F1;  scroll-behavior: smooth;">
  <style>
        ::-webkit-scrollbar {
    display: none;
    
}
  </style>
  <!--=============== HEADER ===============-->



  <!--=============== MAIN ===============-->
  <main class="main">
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark " arial-label="Furni navigation bar">

      <div class="container">
        <a class="navbar-brand" href="/">Lapedge</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
          aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li><a class="nav-link" href="/shop">Shop</a></li>

            <% if(userCredit){ %>
              <li><a class="nav-link" href="/logout">Logout</a></li>
              <% }else{ %>
                <li><a class="nav-link" href="/login">Login</a></li>
                <% } %>
                  <li><a class="nav-link" href="/wishlist">wishlist</a></li> 
          </ul>

          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <% if(userData._id) {%>
            <li><a class="nav-link" href="/account/<%= userData._id  %>"><img src="images/user.svg"></a></li>
            <% } %>
            <li><a class="nav-link" href="/cart"><img src="images/cart.svg"></a></li>
            <!-- <li><a   class="nav-link" href="/wishlist"><img  style="width: 30px; height: 30px; margin-left: 10px;" src="/images/2055203-ff9800.svg"></a></li> -->
          </ul>
        </div>
      </div>

    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
      <div style="margin-left: 80px; margin-right: 80px; " class="container-fluid">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>HOME <span clsas="d-block"></span></h1>
              <p class="mb-4">"Every step tells a story. Crafted with precision, built for comfort. Style meets function
                in every pair."</p>
              <p><a href="/shop" class="btn btn-secondary me-2">Shop Now</a></p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img style="margin-left: 300px;" src="/images/mainlogo.png" width="500px" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->


    <!-- Start Product Section -->
    <div class="product-section" style="background-color: #EFF2F1">
      <div class="container">
        <div class="row">

          <!-- Start Column 1 -->
          <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">Crafted with Precision.</h2>
            <p class="mb-4">Built with premium materials to deliver performance and durability.Designed for efficiency,
              innovation, and style—ready to power your next big idea. </p>
            <p><a href="shop.html" class="btn">Explore</a></p>
          </div>
          <!-- End Column 1 -->

          <!-- Start Column 2 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
              <img src="images/lapbig.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Gaming Laptop</h3>
              <strong class="product-price">₹82000</strong>

              <span class="icon-cross">
                <img src="images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>
          <!-- End Column 2 -->

          <!-- Start Column 3 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
              <img src="images/gaming.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Business Laptop</h3>
              <strong class="product-price">₹68000</strong>

              <span class="icon-cross">
                <img src="images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>
          <!-- End Column 3 -->

          <!-- Start Column 4 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
              <img src="images/student.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Student Laptop</h3>
              <strong class="product-price">₹55000</strong>

              <span class="icon-cross">
                <img src="images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>
          <!-- End Column 4 -->

        </div>
      </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section" style="background-color: #EFF2F1">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <h2 class="section-title">Why Choose Us</h2>
            <p>Experience high-performance laptops designed for every need, from work to play. Our commitment to quality
              ensures you get the best technology to support your ambitions.</p>

            <div class="row my-5">
              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="images/truck.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3><b>Fast &amp;Free Shipping</b> </h3>
                  <p>Get your laptop delivered quickly and without any extra cost, straight to your doorstep.</p>
                </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="images/bag.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3><b>Easy to Shop</b></h3>
                  <p>Our website is designed for easy browsing and purchasing, helping you find the perfect laptop with
                    just a few clicks.</p>
                </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="images/support.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3><b>24/7 Support</b></h3>
                  <p>We’re here for you anytime, with round-the-clock customer service to assist you with all your
                    laptop-related needs.</p>
                </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="images/return.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3><b>Hassle Free Returns</b></h3>
                  <p>Not satisfied with your purchase? Enjoy easy returns and exchanges with our no-hassle return
                    policy.</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-5">
            <div class="img-wrap">
              <img src="images/White gaming Laptop 2023.jpg" alt="Image" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start We Help Section -->
    <div class="we-help-section" style="background-color:#EFF2F1">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="imgs-grid">
              <div class="grid grid-1"><img src="images/Mac Book Pro IPRIME.jpg" alt="Untree.co"></div>
              <div class="grid grid-2"><img src="images/mSi.jpg" alt="Untree.co"></div>
              <div class="grid grid-3"><img src="images/vilote (1).jpg" alt="Untree.co"></div>
            </div>
          </div>
          <div class="col-lg-5 ps-lg-5">
            <h2 class="section-title mb-4"><b>We Help You Make Modern Interior Design</b></h2>
            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac
              aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi
              tristique senectus et netus et malesuada</p>

            <ul class="list-unstyled custom-list my-4">
              <li>Donec vitae odio quis nisl dapibus malesuada</li>
              <li>Donec vitae odio quis nisl dapibus malesuada</li>
              <li>Donec vitae odio quis nisl dapibus malesuada</li>
              <li>Donec vitae odio quis nisl dapibus malesuada</li>
            </ul>
            <p><a herf="#" class="btn">Explore</a></p>
          </div>
        </div>
      </div>
    </div>
    <!--=============== HOME ===============-->


    <!--=============== CATEGORIES ===============-->
    <section class="categories container section">
      <h3 class="section__title"><span>Popular</span> Categories</h3>
      <div class="categories__container swiper">
        <div class="swiper-wrapper row ">

          <% category.forEach((data)=>{ %>
            <div class=" col-md-3 ">
              <a href="/shop" class="category__item swiper-slide ">
                <img src="<%= data.image%>" alt="" class="category__img" />
                <h3 class="category__title">
                  <%= data.name %>
                </h3>
              </a>
            </div>
            <% }) %>



              <div class="swiper-button-prev">
                <i class="fi fi-rs-angle-left"></i>
              </div>
              <div class="swiper-button-next">
                <i class="fi fi-rs-angle-right"></i>
              </div>
        </div>
    </section>

    <!--=============== PRODUCTS ===============-->
    <section class="products container section">
      <div class="tab__btns">
        <!-- <span class="tab__btn active-tab" data-target="#featured"
                >Featured</span
              > -->
        <h3 class="section__title"><span>Best </span> Sellers</h3>
        <!-- <span class="tab__btn" data-target="#popular">Popular</span>
              <span class="tab__btn" data-target="#new-added">New Added</span> -->
      </div>

      <div class="tab__items">
        <div class="tab__item active-tab" content id="featured">
          <div class="products__container grid">
            <% product.forEach((data)=>{ %>
              <div class="product__item">
                <div class="product__banner">
                  <a href="/productDetails/<%= data._id %>" class="product__images">
                    <img src="<%= data.productImage[0] %>" alt="" class="product__img default" />
                    <img src="<%= data.productImage[1] %>" alt="" class="product__img hover" />
                  </a>
                  <div class="product__actions">
                    <a href="/productDetails/<%= data._id %>" class="action__btn" aria-label="Quick View">
                      <i class="fi fi-rs-eye"></i>
                    </a>
                    <a href="#" class="action__btn" aria-label="Add to Wishlist">
                      <i class="fi fi-rs-heart"></i>
                    </a>
                    <a href="/cart" class="action__btn" aria-label="Add to cart">
                      <i class="fi fi-rs-shopping-cart"></i>

                    </a>

                  </div>
                  <div class="product__badge light-pink">
                    <%=data.status %>
                  </div>
                </div>
                <div class="product__content">
                  <span class="product__category">
                    <%=data.category.name%>
                  </span>
                  <a href="details.html">
                    <h3 class="product__title">
                      <%= data.name %>
                    </h3>
                  </a>
                  <div class="product__rating">
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i>
                  </div>
                  <div class="product__price flex">
                    <span class="new__price">₹<%= data.salePrice %></span>
                    <span class="old__price">₹<%= data.regularPrice %></span>
                  </div>
                  <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                    <i class="fi fi-rs-shopping-bag-add"></i>
                  </a>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </div>
    </section>


    <!--=============== DEALS ===============-->


    <!--=============== NEW ARRIVALS ===============-->


    <!--=============== SHOWCASE ===============-->


    <!--=============== NEWSLETTER ===============-->
    <section class="newsletter section home__newsletter">
      <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
          <img src="./assets/img/icon-email.svg" alt="" class="newsletter__icon" />
          Sign in to Newsletter
        </h3>
        <p class="newsletter__description">
          ...and receive $25 coupon for first shopping.
        </p>
        <form action="" class="newsletter__form">
          <input type="text" placeholder="Enter Your Email" class="newsletter__input" />
          <button type="submit" class="newsletter__btn">Subscribe</button>
        </form>
      </div>
    </section>
  </main>

  <!--=============== FOOTER ===============-->

  <%- include('../layouts/footer') %>

    <!--=============== SWIPER JS ===============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
</body>

</html>